.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: block;
}

.profile-photo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 50px;
}

.meme {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .profile-photo {
    animation: App-logo-spin infinite 10s linear;
  }
  .meme {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000038;
}

.site-header {
  background: white;
  width: 100%;
  height: 130px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: thick solid #006400;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  background-image: url('graphics/HeaderBG.jpg');
  background-size: cover;
}
.header-text-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 450px;
  height: 100%;
  float: left;
  background: white;
  padding-left: 30px;
  font-family:    Arial, Helvetica, sans-serif;
  font-size:      30px;
  font-weight:    bold;
  color: orange;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  background-color: transparent;
}
.header-photo-box {

  height: 100%;
  margin: 0px 30px 0px 0px;
}
.header-photo{
  height: 100%;
  width: 100%;
  object-fit: contain;
}


.page-nav {
  height: 130px;
  width: auto;
  padding: 0px 40px 0px 10px;
  position: fixed;
  right: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  display: flex;
  flex-direction: row;
}
.page-link {
  background: #006400;
  margin-left: 1%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
  color: black;  
  text-decoration: none;
  padding: 4px;
}
.page-link:visited {
  color: black;
}

.page-link-button {
  background: white;
  padding: 0px 10px 0px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  
}
.page-link-button:hover {
  background: orange;
}

.site-content {
  min-height: 110%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000038;
  margin-top: 100px;
  background-image: url('graphics/HomeBG.png');
  background-size: 100% auto;
  background-repeat: repeat;
  position: relative;
}
.bottom-image-container{
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 0;
  visibility: hidden
}
.bottom-image{
  width: 100%;
}

.home-profile-container {
  background: transparent;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 60px;
}
.home-photo-container {
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}
.links-box{
  background: transparent;
  font-size: 20px;
  text-align: center;
}
.link-name{
  padding: 5px 10px 5px 10px;
  color: #006400;
}
.link-url{
  color: orange;
}
.link-url:visited{
  color: orange;
}

.page-header{
  background: transparent;
  margin-bottom: 5px;
  margin-top: 0px;
}
.proj-page-container {
  background: transparent;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 70%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30px;
}
.projects-table{
  table-layout: fixed;
  width: 1000px;
}
.project-link {
  float: top;
  width: 150px;
  height: 85px;
  z-index: 90;
  position: absolute;
  margin-top: 15px;
  left: 80px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-link.odd {
  background: green;
}
.project-link.even {
  background: #74b705;
}
.project-link:hover{
  background: orange;
}

.project-cell-container{
  position: relative;
  background: transparent;
  align-content: center;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
} 
.project-cell{
  background: transparent;
  padding: 10px;
  overflow: hidden;
}
.plant-image{
  width: 200px;
}


.singleproj-container {
  background: transparent;
  padding-bottom: 50px;
  width: 90%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30px;
  min-height: 90%;
}
.singleproj-info-container{
  display: flex;
  flex-direction: row;
  background: transparent;
  width: 100%;
  height: 100%;
}
.proj-images-container{
  background: transparent;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proj-text-container{
  background: red;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-image {
  max-height: 500px;
}
.image-scroller-button{
  background: white;
  border: 4px solid #006400;
  padding: 10px 38px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.image-scroller-button:hover{
  background: orange;
}

.home-text-container {
  background: transparent;
  height: 100%;
  width: 60%;
  display: flex;
}
.home-text {
  text-align: left;
  margin-left: 30px;
  margin-right: 150px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
