.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: block;
}

.profile-photo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 50px;
}

.meme {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .profile-photo {
    animation: App-logo-spin infinite 10s linear;
  }
  .meme {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000038;
}

.site-header {
  background: white;
  width: 100%;
  height: 130px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: thick solid #006400;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  background-image: url('graphics/HeaderBG.jpg');
  background-size: cover;

}
.header-text-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 450px;
  height: 100%;
  float: left;
  background: white;
  padding-left: 30px;
  font-family:    Arial, Helvetica, sans-serif;
  font-size:      30px;
  font-weight:    bold;
  color: orange;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  background-color: #F9F7F5;
}
.header-photo-box {

  height: 100%;
  margin: 0px 30px 0px 0px;
}
.header-photo: {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


.page-nav {
  height: 130px;
  width: auto;
  padding: 0px 40px 0px 10px;
  position: fixed;
  right: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  display: flex;
  flex-direction: row;
}
.page-link {
  background: #006400;
  margin-left: 1%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
  color: black;  
  text-decoration: none;
  padding: 4px;
}
.page-link:visited {
  color: black;
}

.page-link-button {
  background: white;
  padding: 0px 10px 0px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  
}
.page-link-button:hover {
  background: orange;
}

.site-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000038;
  padding-top: 0%;
  background-image: url('graphics/BGPlants.jpg');
  background-size: 100% auto;
}
.home-photo-container {
  background: transparent;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.links{
  background: transparent;
  font-size: 20px;
  text-align: center;
}

.home-text-container {
  background: transparent;
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
}
.home-text {
  text-align: left;
  margin-left: 30px;
  margin-right: 60px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
