
.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: block;
  height: 100vh;
  width: 100vw;
}




.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000038;
}

.site-header {
  width: 100%;
  height: 20vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: thick solid #006400;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  background-image: url('graphics/HeaderBG.jpg');
  background-size: cover;
}
.header-info-box{
  display:flex;
  flex-direction: row;
  background-color: transparent;
  width: 85vw;
}
.header-text-box {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  left: 0;
  text-align: left;
  float: left;
  font-family:    Arial, Helvetica, sans-serif;
  font-size:      calc(2vh + 2vw);
  font-weight:    bold;
  color: orange;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  background-color: transparent;
}
.header-photo-box {
  left: 0;
  padding-left: 2vh;
  height: 100%;
  margin: 0px 30px 0px 0px;
  background: transparent;
  width:15vw;
}
.header-photo{
  height: 100%;
  width: 100%;
  object-fit: contain;
}


.page-nav {
  height: 100%;
  width: 50%;
  padding: 0px 40px 0px 10px;
  position: relative;
  justify-content: right;
  background: transparent;
  top: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}
.page-link {
  background: #006400;
  margin-left: 1%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  position: relative;
  font-weight: bold;
  font-size: calc(3px + 1vw);
  color: black;  
  text-decoration: none;
  padding: 4px;
}
.page-link:visited {
  color: black;
}
.page-link.projects-back {
  margin-bottom: 10px;
}


.page-link-button {
  background: white;
  padding: 0px 10px 0px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  
}
.page-link-button:hover {
  background: orange;
}

.site-content {
  min-height: 110vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(5px + 2.5vmin);
  color: #000038;
  margin-top: 18vh;
  padding-bottom: 10vh;
  background-image: url('graphics/HomeBG.png');
  background-size: 100% 100%;
  background-repeat: repeat;
  position: absolute;
}
.home-text-container {
  background: transparent;
  height: 100vh;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}
.home-profile-container {
  background: transparent;
  height: 100vh;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 4vh;
}
.home-photo-container {
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.profile-photo {
  height: 70%;
  pointer-events: none;
}

.meme {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .profile-photo {
    animation: App-logo-spin infinite 20s linear;
  }
  .meme {
    animation: App-logo-spin infinite 10s linear;
  }
}


.resume-link-container {
  padding: 10px;
  font-size: calc(5px + 2.5vmin);
}
.links-box{
  background: transparent;
  font-size: calc(4px + 2.5vmin);
  text-align: center;
}
.link-name{
  padding: 5px 10px 5px 10px;
  color: #006400;
}
.link-url, .repo-url{
  color: orange;
}
.link-url:visited{
  color: orange;
}
.repo-url:visited{
  color: orange;
}

.home-text {
  text-align: left;
  margin-left: 30px;
  margin-right: 10vw;
}

.page-header{
  background: transparent;
  margin-bottom: 5px;
  margin-top: 0px;
}

.about-page-container{
  background: transparent;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 100%;
}
.about-content-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 5vw;
  margin-left: 5vw;
}
.about-photo-container{
  background: transparent;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
}
.about-text-container{
  background: white;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  font-size: calc(3px + 2vmin);
  border: 4px solid #006400;
}
.about-image {
  max-height: 60vh;
  max-width: 30vw;
  align-self: center;
}
.about-secret-text {
  font-size: calc(2.5px + 1.5vmin);
}

.proj-page-container {
  background: transparent;
  width: 90%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 5vh;
}
.projects-table{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto-fill, auto);
  align-content: center;
  justify-content: center;
  column-gap: 5vw;
  row-gap: 5vh;
  width: 80%;
  background-color: transparent;
}

.project-link {
  float: top;
  width: 80%;
  height: 45%;
  z-index: 90;
  margin-top: 5%;
  position: absolute;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: max(10px, calc(1.1vw + 1.1vh));
  color: white;
  padding: 1%;
}
.project-link.odd {
  background: green;
}
.project-link.even {
  background: #74b705;
}
.project-link:hover{
  background: orange;
  cursor: pointer;
}

.project-cell-container{
  position: relative;
  background: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  width: 20vw;
  height: 20vw;
  min-width: 100px;
  min-height: 100px;
}
.plant-image{
  width: 100%;
  height: 100%;
}

.singleproj-container {
  background: transparent;
  padding-bottom: 5vh;
  width: 90%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 2vh;
  min-height: 90%;
}
.singleproj-info-container{
  display: flex;
  flex-direction: row;
  background: transparent;
  width: 100%;
  height: 100%;
}
.proj-images-container{
  background: transparent;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
}
.proj-text-container {
  background: white;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 5vh;
  font-size: calc(3px + 2vmin);
  border: 4px solid #006400;
}
.project-image {
  max-height: 60vh;
  max-width: 30vw;
  align-self: center;
}
.image-scroller-container {
  background: transparent;
  height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.image-scroller-display {
  background: transparent;
  height: 50vw;
  display: flex;
  justify-content: center;
}
.image-scroller-button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.image-scroller-button, .page-counter{
  background: white;
  border: 4px solid #006400;
  padding: 10px 2vw;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  margin-top: 10px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.image-scroller-button:hover{
  background: orange;
  cursor: pointer;
}
.image-scroller-button.left{
  margin-right: 5px;
}
.image-scroller-button.right{
  margin-left: 5px;
}
.repo-links-container{
  display: flex;
  flex-direction: row;
}
.repo-links-container>.link-url{
  margin-left: 5px;
}

.project-header{
  background: transparent;
  margin-bottom: 2vw;
  margin-top: 0px;
  font-size: calc(1.8vw + 1.8vh);
}

@media only screen and (max-width: 900px) {
  .site-content{
    background-image: url('graphics/HomeBG_mid.png');
  }
}
@media only screen and (max-width: 600px) {
  .projects-table{
    grid-template-columns: repeat(2, auto);
  }
  .site-content{
    background-image: url('graphics/HomeBG_small.png');
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20vh;
  }
  .header-info-box{
    flex-direction: column;
    width: 60vw;
  }
  .header-photo-box{
    width: 25vw;
  }
  .page-nav {
    height: 50%;
    width: 100%;
    justify-content: center;
    padding: 0;
  }
  .header-text-box{
    height: 50%;
    width: 100%;
    justify-content: center;
    font-size:      calc(2.5vh + 2.5vw);
    
  }
  .page-link.nav-link {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: calc(3px + 2vw);
  }
  
  .home-profile-container{
    width: 100%;
    height: 50%;

  }
  .home-text-container{
    width: 100%;
    height: 50%;
    justify-content: right;
    font-size: calc(5px + 2vw);
  }
  .home-text{
    text-align: center;
    margin-left: 10vw;
  }
  
  .about-content-container{
    flex-direction: column;
    justify-content: center;

  }
  .about-photo-container{
    width: 100%;
    margin-right: 0;
    height: 100vw;
  }
  .about-image {
    max-width: 55vw;
    max-height: unset;
  }
  .about-text-container{
    font-size: calc(1.3vh + 1.3vw);
    width: 93%;
  }
  .image-scroller-container {
    height: 100%;
  }
  .image-scroller-display{
    height: 80%;
  }
  .proj-page-container{
    width: 93%;
    position: absolute;
    top: 0;
    margin-left: 2vh;
    margin-right: 2vh;
  }
  .singleproj-container{
    justify-content: center;
    width: 100%;
  }
  .singleproj-info-container{
    flex-direction: column;
    justify-content: center;

  }
  .proj-images-container{
    width: 100%;
    margin-right: 0;
    height: 100vw;
  }
  .project-image {
    max-width: 65vw;
    object-fit: contain;
  }
  .proj-text-container{
    font-size: calc(1.3vh + 1.3vw);
    width: 91%;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .project-header{
    font-size: calc(2vw + 2vh);
  }
  .page-link.projects-back {
    font-size: calc(3px + 2vw);
  }
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
